product-detail__star:root {
  --main-bg-color: #fff;
  --second-bg-color: #f4f3f3;
  --third-bg-color: #fefdfd;
  --background-color-main: #3797A4;
  --background-color-second: #8BCDCD;
  --background-color-third: #f5f5fa;
  --text-color: #3797A4;
  --white: #fff;
  --grey: #4b4b4b;
  --black: #000;
  --red: #c0392b;
  --priamry: #0d6efd;
  --success: #198754;
  --danger: #dc3545;
  --secondary: #6c757d;
  --top-header-size: 30px;
  --mid-header-size: 80px;
  --bottom-header-size: 45px;
  --btn-bg: #000;
  --btn-border-color: #000;
  --btn-color: #fff;
  --border-color: #e9e9e9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Arima Madurai', cursive;
  overflow-x: hidden;
  position: relative;
  background-color: var(--main-bg-color);
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  position: relative;
}

.bg-primary {
  background-color: var(--background-color-second);
}

.bg-main {
  background-color: var(--background-color-main);
}

.bg-light {
  background-color: var(--third-bg-color);
}

.bg-second {
  background-color: var(--second-bg-color);
}

.text-red {
  color: var(--red);
}

.text-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--background-color-main);
  color: var(--btn-color);
  padding: 10px 12px;
  font-size: 15px;
  outline: 0;
  font-weight: 600;
}

.btn-flat {
  display: inline-block;
  border: 2px solid var(--btn-border-color);
  background-color: var(--btn-bg);
  color: var(--btn-color);
  padding: 13px 35px;
  font-size: 15px;
  outline: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-hover {
  transition: all 0.3s ease-in-out;
}

.btn-hover:hover {
  background-color: var(--btn-color);
  color: var(--btn-bg);
}

.trans-delay-0-2 {
  transition-delay: 0.2s;
}
.trans-delay-0-4 {
  transition-delay: 0.4s;
}

.trans-delay-0-6 {
  transition-delay: 0.6s;
}

.trans-delay-0-8 {
  transition-delay: 0.8s;
}

table {
  width: 100%;
  max-width: 1000px;
  font-size: 1.6rem;
  margin: auto;
}

table thead tr {
  text-align: left;
}

table th, table td {
  padding: 20px 0;
  border-bottom: 1px solid var(--border-color);
}

.text-danger {
  color: var(--red);
}

.fw-bold {
  font-weight: bold;
}

.valid-feedback {
  font-size: 1.4em;
  color: var(--red);
  margin-top: 5px;
}

.box-group {
  border: 2px solid var(--second-bg-color);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
  padding: 20px;
  margin-top: 15px;
}

.f-height {
  height: 100%;
}